.text
{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.link-style{
  color: #121414;
  font-weight: 700;
}
.container-style{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.test-border{
    border: 1px solid black;
}
.onHover{
	cursor: pointer;
}.onHover{
	cursor: pointer;
}
.Tabbar{
    position: absolute;
    margin-top: 42px;
}
.over-flow-x{
    overflow-x: hidden;
}
.HomeIcon{
    margin-right: 10px;
}
.time-line-styling{
    border-top: 4px solid #737578;
    border-left: 4px solid #737578;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.CountChartBox{
    height: 580px;
    overflow-y: scroll;
    text-align: center;
}
.defaultMargin{
    margin-bottom: 10px;
    margin-top: 45px;
}
.RedColor{
    color: red;
}
.GreenColor{
    color:green;
}
.OrangeColor{
    color:orange;
}
.LeftRightBorder{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.bg
{
       background: #c8ff00;
}
.Button
{
    color: black;
    background-color: #c8ff00 ;
    border: 1px solid black;
    height: 34px;
    padding-left: 30px;
    padding-right: 30px;
    margin:10px;
}
.LabelText{
    font-size:20px;
}
.RadioWidth{
    height: 15px;
    width: 15px;
}
@media all and (max-width: 550px){
   .CountChartBox{
       height:450px;
   }
   .LabelText{
       font-size: 10px;
   }
   .RadioWidth{
       width: 10px;
       height: 10px;
   }
}

.Button:checked{
    background-color: blue;
}
.Button:disabled{
    background-color: #e1ff7b;
}
.font
{
    font-family: 'Open Sans',sans-serif;
}
.language-dropDown{
    margin-right: 10px;
    border: '1px solid black';
}
.whiteText
{
    text-color: white;
}
.blackText{
    text-color:black
}
.Status-Box{
    background-color: #c8ff00;
}
.Border{
    border: 1px solid;
}