table { 
	width: 1200px; 
	border-collapse: collapse; 
	margin:100px auto;
	margin-bottom: 5px;
	}
.dropDown{
	margin-top: 20px;
	width: 50px;
	background-color:#c8ff00 ;
}
.dropDown:hover{
	background-color: #e1ff7b;
}
option:hover{
   background-color:#e1ff7b;
}
.Go-to-page
{
   width: 30px;
   margin-right: 5px;
}
/* Zebra striping */
tr:nth-of-type(even) { 
	background:white; 
	}
tr{
	cursor: pointer;
}
th { 
	background:#c8ff00; 
	color: black; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid black; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
		  width: 100%;
		  margin: 10px auto;
	}
	.dropDown{
		margin-top: 10px;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	.Go-to-page{
		width: 100px;
		font-size: 10px;
		margin: 0;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border-top: 1px solid black; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}
.item-table{
	margin: 15px auto;
}
.item-dropDown{
	background:#c8ff00; 
	width:50;
	border: 1px solid black;
	margin-top: 10px;
}
.item-dropDown:hover{
	background-color:#e1ff7b;
}
.button{
	background-color:  #e1ff7b;
	border: 1px solid black;
}
.singleItemTable
{
	margin-top: 60px;
}